<body>
    <div class="row row-cols-2 row-cols-md-2 g-3">
        <div class="col-4">
            <div class="card h-100">
                <img src="https://img.icons8.com/?size=512&id=FZIhaMo0Xf0w&format=png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Expense Tracking</h5>
                    <p class="card-text">
                        Track expenses & budgets
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <img src="https://img.icons8.com/?size=512&id=ngdyGsjrAr9f&format=png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Category Management</h5>
                    <p class="card-text">
                        Organize expenses easily
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <img src="https://img.icons8.com/?size=512&id=Y6ss6rGdWvg7&format=png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Monthly Reports</h5>
                    <p class="card-text">
                        Visualize spending habits
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <img src="https://img.icons8.com/?size=512&id=33YsJ84qWWYK&format=png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Secure Data</h5>
                    <p class="card-text">Protect financial info
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <img src="https://img.icons8.com/?size=512&id=PTZM03eR4Aaf&format=png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">User-Friendly UI</h5>
                    <p class="card-text">Easy expense management
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <img src="https://img.icons8.com/?size=512&id=egbqzmRQYI55&format=png" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Budget Alerts</h5>
                    <p class="card-text">
                        Stay within your limits
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
