<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="../../../../favicon.ico" />
  <title>Expenses Tracker Application</title>
  <link href="app.component.scss" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet" />
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">exTracker</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/features">Features</a>
          <a class="nav-link" href="/contact">Contact</a>
        </nav>
      </div>
    </header>
    <main class="inner cover">
      <router-outlet></router-outlet>
    </main>
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>
          Created by
          <a href="https://www.linkedin.com/in/michal-doroz/">Michał Doroz</a>, Github
          <a href="https://github.com/Michaldoroz7">@michaldoroz7</a>.
        </p>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>
    window.jQuery ||
      document.write(
        '<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>'
      );
  </script>
  <script src="../../../../assets/js/vendor/popper.min.js"></script>
  <script src="../../../../dist/js/bootstrap.min.js"></script>
</body>

</html>