<div class="row">
  <div class="col-sm-4">    <p>Profile</p>

    <div class="card mb-4 h-100">
      <div class="card-body text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
          class="rounded-circle img-fluid" style="width: 100px;">
        <h5 class="my-3">{{user.name}}</h5>
        <p class="text-muted mb-1">{{user.email}}</p>
        <div class="d-flex justify-content-center mb-2">
          <a href="mailto:{{user.email}}" target="_blank" class="btn btn-primary">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <p>Latest Expenses</p>
    <div class="card mb-4 h-100">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

    </div>

    <p>Search Your Expenses</p>
    <div class="card mb-4 h-50">
      card 2
    </div>
  </div>
</div>

