.form-group{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    max-width: 20em;
    margin: 0 auto;
}

.btn {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: 150px;
  box-shadow: 1px 2px 3px 3px black;
}
