body {
    font-family: 'Cardo', serif;
}

.form-group{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

button {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

